<!doctype html>
<html ng-app="oneNodeToFeedThemAll">
<head>
	<title>One node to feed them all - your all feeds in one place!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
  <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
	<script src="lib/ng-text-truncate.js"></script>

  <script src="core.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="mainController">
	<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">One node to feed them all</a>
      </div>

			<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
		</div>
  </nav>

	<span us-spinner spinner-key="spinner-1" spinner-start-active="false" ></span>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="well">

					<p class="text-muted">Fetching FB posts is unfortunately not available anymore because of changes in their API</p>
					<p class="text-muted">Facebook authentication works properly.</p>

					<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
					<% if ( user && user.facebook && user.facebook.token ) { %>
						<p>
							<%= user.facebook.email %><br>
							<%= user.facebook.name %><br>
						</p>
						<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
					<% } else { %>
						<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
					<% } %>

				</div>
				<div class="well">

					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="toggleTwitter" ng-change="updateFeeds()"> Visible
				  	</label>
						{{toggleTwitter}}
				 	</div>

					<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
					<% if ( user && user.twitter && user.twitter.token) { %>
						<p>
							<%= user.twitter.displayName %><br>
							<%= user.twitter.username %>
						</p>
						<a href="/unlink/twitter" class="btn btn-info">Unlink</a>
					<% } else { %>
						<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
					<% } %>
				</div>

				<div class="well rssWell">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="toggleRss" ng-change="updateFeeds()"> Visible
				  	</label>
						{{toggleRss}}
				 	</div>

					<h3 class="text-info"><span class="fa fa-rss"></span> RSS</h3>

					<div class="alert alert-danger alert-dismissable" ng-show="rssAlert.length > 0">
						{{rssAlert}}
					</div>

					<table class="table">
						<tr ng-repeat="rssFeed in userRssFeeds">
							<td class="rssEntry">
								<a href="" class="glyphicon glyphicon-remove" ng-click="removeNewRssFeed(rssFeed)"></a>
								{{rssFeed.url}}
							</td>
						</tr>
					</table>
					<div class="input-group">
						<input class="form-control" type="text" ng-model="newRssFeedUrl" />
						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="addNewRssFeed()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>

			</div>

			<div class="col-sm-8">
				<div>
					<p ng-show="feedData.length == 0" class="text-muted">
						Please wait until the data is fetched or please setup some post sources (on the left).
					</p>
				</div>

				<div ng-repeat="feed in feedData">

					<div ng-show="feed.type == 'facebook'" class="feed">
						<p><i class="fa fa-facebook"></i>  <b>{{feed.feedData.from.name}}</b> {{feed.date | date : 'medium' }}</p>
						<p><i ng-show="feed.feedData.story">{{feed.feedData.story}}</i></p>
						<p ng-text-truncate="feed.feedData.description" ng-tt-chars-threshold="300"></p>
						<p>{{feed.feedData.message}}</p>
						<p><img ng-show="feed.feedData.picture" ng-src="{{feed.feedData.picture}}" alt="img" /></p>
						<p class="clearfix"></p>
						<hr />
					</div>

					<div ng-show="feed.type == 'twitter'" class="feed">
						<p><i class="fa fa-twitter"></i>  <b ng-bind-html='feed.feedData.source'></b> {{feed.date | date : 'medium' }}</p>
						<p ng-bind-html='feed.feedData.text | linky'></p>
						<p><img ng-show="feed.feedData.picture" ng-src="{{feed.feedData.picture}}" alt="img" /></p>
						<p class="clearfix"></p>
						<hr />
					</div>

					<div ng-show="feed.type == 'rss'" class="feed">
						<p><i class="fa fa-rss"></i>  <b ng-bind-html='feed.feedData.channelName'></b> {{feed.date | date : 'medium' }}</p>
						<p>
							<a href="{{feed.feedData.link}}"><b ng-bind-html='feed.feedData.title'></b></a>
						</p>
						<p class="feedDescription" ng-bind-html='feed.feedData.description'></p>
						<p class="clearfix"></p>
						<hr />
					</div>

				</div>

				<button class="btn btn-default btn-block" ng-click="morePosts()">More posts</button>
			</div>

		</div>
	</div>

</body>
</html>
