<!doctype html>
<html ng-app="oneNodeToFeedThemAll">
<head>
	<title>One node to feed them all - your all feeds in one place!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
  <script src="core.js"></script>
</head>

<body ng-controller="mainController">
	<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">One node to feed them all</a>
      </div>

			<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
		</div>
  </nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
					<% if (user.facebook.token) { %>
						<p>
							<%= user.facebook.email %><br>
							<%= user.facebook.name %><br>
						</p>
						<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
					<% } else { %>
						<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
					<% } %>
				</div>

				<div class="well">
					<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
					<% if (user.twitter.token) { %>
						<p>
							<%= user.twitter.displayName %><br>
							<%= user.twitter.username %>
						</p>
						<a href="/unlink/twitter" class="btn btn-info">Unlink</a>
					<% } else { %>
						<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
					<% } %>
				</div>

				<div class="well">
					<h3 class="text-info"><span class="fa fa-rss"></span> RSS</h3>
					<p>
						<ul>
							<li ng-repeat="rssFeed in rssFeeds">

							</li>
						</ul>
					</p>
					<button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>  Add new RSS</button>
				</div>

			</div>

			<div class="col-sm-9">
				<div ng-repeat="feed in feedData">

					<div ng-show="feed.type == 'facebook'">
						<p><i class="fa fa-facebook"></i>  <b>{{feed.feedData.from.name}}</b> {{feed.date | date : 'medium' }}</p>
						<p><i ng-show="feed.feedData.story">{{feed.feedData.story}}</i></p>
						<p>{{feed.feedData.description}}</p>
						<p>{{feed.feedData.message}}</p>
						<p><img ng-show="feed.feedData.picture" ng-src="{{feed.feedData.picture}}" alt="img" /></p>
						<hr />
					</div>

					<div ng-show="feed.type == 'twitter'">
						<p><i class="fa fa-twitter"></i>  <b ng-bind-html='feed.feedData.source'></b> {{feed.date | date : 'medium' }}</p>
						<p ng-bind-html='feed.feedData.text | linky'></p>
						<p><img ng-show="feed.feedData.picture" ng-src="{{feed.feedData.picture}}" alt="img" /></p>
						<hr />
					</div>

				</div>
			</div>

		</div>
	</div>

</body>
</html>
